		<div class="customer border">
			<span>Destinataire</span>
			<p>{{ invoice.customer.name|upper }}</p>
			<p>{{ invoice.customer.address1|default('1 boulevard de la liberté') }}</p>
			<p>{{ invoice.customer.postalCode|default('75001') }}
				{{ invoice.customer.city|default('Paris') }}</p>
		</div>