<div class="total">
<p>TOTAL HT : <span>{{ invoice.totalHT|number_format(2, ',', ' ') }}€</span></p>
<p>TVA : <span>{{ invoice.totalTVA|number_format(2, ',', ' ') }}€</span></p>
<p>TOTAL TTC : <span>{{ invoice.totalTTC|number_format(2, ',', ' ') }}€</span></p>
</div>

