{% extends 'dashboard/base.html.twig' %}

{% block title %}Liste des factures {% endblock %}

{% block page_title %}
    Liste des factures
{% endblock %}

{% block body %}
<div class="page-content">
<section>    <a href="{{ path('app_invoice_new') }}" class="btn green">Nouvelle facture</a>

 {% import 'invoice/_table.html.twig' as invoices %}

 {{ invoices.table('Toutes les factures', invoices, '') }}
 {{ invoices.table('Factures en attente d\'envoi', invoicesPendingSending, 'orange') }}
 {{ invoices.table('Factures en retard de paiement', invoicesOverdue, 'red') }}

</div>
{% endblock %}
