<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% include 'partials/flash.html.twig' %}
        <div class="pop-up">
        <div class="content">
            <h1>Merci - veuillez activer votre compte</h1>
            <p>Nous avons envoyé des instructions à ce sujet à l'adresse e-mail suivante :</p>
            <p><strong>{{ email }}</strong></p>
            <p>Vous pourrez vous connecter dès que vous aurez terminé ce processus</p>
            <p>Si vous ne voyez pas l'email, vérifiez votre dossier spam ou courriers indésirables.</p>
            <p>Vous pouvez fermer cette fenêtre</p>
        </div>
        </div>
</html>
