{% extends 'dashboard/base.html.twig' %}

{% block title %}Nouveau client{% endblock %}

{% block page_title %}
    Nouveau client
{% endblock %}

{% block body %}
<div class="page-content">
    <section>
        {{ include('customer/_form.html.twig') }}
        <a href="{{ path('app_customer_index') }}">Retour à la liste</a>
    </section>
</div>

{% endblock %}
