{% extends 'dashboard/base.html.twig' %}

{% block title %}Configuration de l'entreprise{% endblock %}
{% block page_title %}Configuration de l'entreprise{% endblock %}
{% block body %}

<div class="page-content dashboard">
<section class="form form-company">
    {{ include('company/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
</section>
</div>
{% endblock %}
