{% extends 'dashboard/base.html.twig' %}

{% block title %}Gérer mon entreprise{% endblock %}

{% block body %}
    <h1>Gérer mon entreprise</h1>

    {{ include('company/_form.html.twig') }}
{% endblock %}
